<form method="post" id="form" action="<%= user_step1_path %>" novalidate ">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
<!-- <ul id="progressbar">
<li>Create Account</li>
<li class="active">Educational Profiles</li>
<li>Personal Details</li>
</ul> -->
  <div class="form-horizontal">
  <div class="form-group">
  <label class="col-sm-5 control-label">School_name</label>
  <div class="col-sm-2">
  <input type="text" name="school_name" id="school_name" class="form-control" value="<%= session[:value5]%>" />
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-5 control-label">Percentage</label>
  <div class="col-sm-2">
  <input type="text" name="percentage" id="percentage" class="form-control" value="<%= session[:value6]%>" />
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-5 control-label">Institution_name</label>
  <div class="col-sm-2">
  <input type="text" name="institution_name" id="institution_name" class="form-control" value="<%= session[:value7]%>" />
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-5 control-label">Percentage</label>
  <div class="col-sm-2">
  <input type="text" name="percentage2" id="percentage2" class="form-control" value="<%= session[:value8]%>" />
  </div>
  </div>
  </div>

  <center><h2><i class="fa fa-plus btn" style="font-size:30px;color:#337ab7;"></i> Additional Skills</h2></center>
  <div class="adding"></div>
  <div class="form-horizontal">
  <div class="form-group">

  <label class="col-sm-5 control-label"><i class="fa fa-plus btn" style="font-size:30px;color:#337ab7;"></i> Skills</label>
  <div class="col-sm-5" id="tags" >
  <input type="text" name="skills" id="skills" class="form-control" value="" data-role="tagsinput"  />
  </div>
  </div>
  </div>
  <center><h2><i class="fa fa-plus btn" style="font-size:30px;color:#337ab7;"></i> Languages Known</h2></center>
  <div class="form-horizontal">
  <div class="form-group">
  <div class="col-sm-offset-5 col-sm-10">
  
  <span class="hida" multiple>Select the Languages_known</span>
        <ul>
          <% @lang.each do |l| %>
          <li><input type="checkbox" name="languages[]" value="<%= l.lang_coll %>" /><%= l.lang_coll %></li>
          <% end %>
          </ul>
  </div>
  <div class="col-sm-offset-5 col-sm-10"> 
    <button class="btn btn-primary col-sm-1">Submit</button>  
  </div>
  </div>
  </div>
  </form>


    
